body {
	margin: 0;
	padding: 0;
	background-color: rgb(10,10,10);
	color: rgb(240,240,240);
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	font-family: Verdana, Tahoma, sans-serif;
}



.container {
	width: 91%;
	max-width: 680px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


h1 {
	font-size: 70px;
	margin-bottom: 40px;
}

h2 {
	font-size: 50px;
}


a {
	text-decoration: none;
	color: rgb(240,240,240);
}


.tile {
	width: 100%;
	background-color: rgb(37,37,37);
	margin: 15px;
	padding: 10px;
	border-radius: 40px;
	display: flex;
	justify-content: space-between;
}



.tile:hover {
	transition: cubic-bezier(.87, 1.41, .82, 1.41) 0.2s;
	transform: scale(1.02);
}



.tile-share-button {
	margin: 8px;
	width: 80px;
	height: 80px;
	border-radius: 20px;
	background-color: rgb(52,52,52);
}



.image-container {
	height: 320px;
	width: 320px;
	border-radius: 160px;
	overflow: hidden;
}



.image-container img {
	height: 100%;
}



.icon {
	margin: 8px 12px;
	width: 80px;
	height: 80px;
}




